




<div class="container-fluid">
  <div class="card bg-light mb-3" >
    <div class="card-body">

  <h2>Sign In</h2>

  <p><%= flash[:error_message] %></p>

  <%= form_tag  login_path do %>
    <%= label_tag :email %><br>
    <%= email_field_tag :email %><br><br>

    <%= label_tag :password %><br>
    <%= password_field_tag :password %><br><br>

    <%= submit_tag "Sign in", :class => 'btn btn-outline-dark' %>


  <% end %>

    </div>
  </div>
</div>
