<h2>login</h2>

<p><%= flash[:error_message] %></p>

<%= form_tag  login_path do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag "Sign in" %>

<% end %>



<h1>Sign Up!</h1>

<% if @user.errors.any? %>
  <ol>
    <%@user.errors.full_messages.each do |message|  %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name, 'Username' %>
  <%= f.text_field :name%>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign up" %>

<% end %>
