
<%= cl_image_tag @product.image %>

<h2><%= @product.title.upcase %></h2>
<h4> <%= link_to @product.brand.upcase, @product.designer %></h4>
<p>A<%= number_to_currency(@product.price) %></p>
<p><%= @product.description%></p>

<% if @current_user.present? %>
  <%= button_to '♡ wishlist', product_wishlists_path(@product), method: :post%>
<% end %>

<% if !@current_user.present? %>
<%= link_to '♡ wishlist', '' %>
<%= flash[:notice] = 'Please sign in'%>
<% end %>


<% if @current_user.present? && @current_user.admin? %>
  <%= link_to 'Edit Product', edit_product_path %>
  <%= button_to 'Delete', @product, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
<% end %>
