<div class="bg">


<div class="container-fluid">
    <h3><%= @product.title.upcase %></h3>
  <div class="row">
    <div class="col-md-5">
      <div class="img-part">
        <%= cl_image_tag @product.image, :class => 'img-thumbnail'%>
      </div>
    </div>

    <div class="col-md-5">
      <div class="product-details">
          <h5> <strong><%= link_to @product.brand.upcase, @product.designer, :style => 'color: pink'%></strong></h5><br>
          <p>A<%= number_to_currency(@product.price) %></p><br>
          <p><strong>Product details:</strong> <br><%= @product.description%></p> <br><br>

          <% if @current_user.present? %>
            <%= button_to '♡ WISHLIST!', product_wishlists_path(@product), method: :post, :class => 'wishlist-button' %>
          <% end %>

          <% if !@current_user.present? %>
          <%= link_to '♡ WISHLIST', '' , :class => 'wishlist-button'%><br>
          <%= flash[:notice] = "Please sign in to add products to wishlists"%>

          <% end %>

          <% if @current_user.present? && @current_user.admin? %>
            <%= link_to 'Edit Product', edit_product_path %>
            <%= button_to 'Delete', @product, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
          <% end %>

        </div>
      </div>
    </div>
</div>
</div>
